input[type="radio"] {
    display: none;
}
.icon-radio-btn {
    margin-right: 10px;
}
.icon-radio-btn:before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    border: #aeb2b5 solid 1px;
    z-index: 0;
}
.icon-radio-btn:before {
    border-radius: 50%;
}

.radio-checked + .icon-radio-btn:before {
    border: #00ad64 solid 1px;
    background: url(../../images/checkedRadio.png) no-repeat center;
    background-size: 30px 30px;
}
