body{
    font: 400 13px Arial;
}
header{
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    background-color: white;
    border-bottom: solid 1px #d3d7da;
    width: 100%;
    position: fixed;
    z-index: 3;
}
button, a, .icon, .iconRadio{
    cursor: pointer;
}
input[type="radio"], input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
}
.stateFilters label, .sellerFilters label, .mode label{
    display: flex;
    align-items: baseline;
    position: relative;
    margin: 2px 0;
}
.mode label{
    align-items: center;
    margin: 3px 0;
}
.iconRadio, .icon{
    margin-right: 20px;
}
.icon:before, .iconRadio:before{
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    border: #aeb2b5 solid 1px;
    position: absolute;
    z-index: 0;
}
.icon:after, .iconRadio:after{
    content: '';
    display: block;
    border: #00ad64 solid 1px;
    opacity: 0;
    z-index: 1;
}
.icon:before{
    border-radius: 3px;
}
.iconRadio:before{
    border-radius: 50%;
}
.icon:after{
    width: 18px;
    height: 18px;
    border-radius: 3px;
    background: #00ad64 url(images/checkbox.png) no-repeat center;
    background-size: 15px 15px;
}
.iconRadio:after{
    margin: 4px 0 0 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00ad64;
}

input[type="radio"]:checked + .iconRadio:before{
    border: #00ad64 solid 1px;
}
input[type="checkbox"]:checked + .icon:before{
    border: #00ad64 solid 1px;
}
input[type="radio"]:checked + .iconRadio:after{
    opacity: 1;
}
input[type="checkbox"]:checked + .icon:after{
    opacity: 1;
}
.icon + div, .icon + div{
    margin-left: 17px;
    width: 200px;
}
.leftHeader, .rightHeader, .searchField{
    display: flex;
    align-items: center;
}
.leftHeader{
    justify-content: space-between;
    width: 60%;
}
.leftHeader > img{
    width: 141px;
    height: 45px;
    margin: 8px 8px;
}
.searchField{
    width: 500px;
    height: 38px;
    border: solid 1px #b6babd;
    border-radius: 4px;
    box-shadow: 0 0 2px  #b6babd;
    outline: none;
}

.searchField img{
    width: 32px;
    height: 32px;
    outline: none;
}
.searchField img:hover{
    border: none;
    outline:none;
}
#searchInput{
    width:100%;
    height: 35px;
    font-size: 16px;
    border: 0 solid;
    caret-color: #00ad64;
    outline: none;
}
.searchField:focus-within{
    border: 1px solid #2abf69;
}
#searchInput::placeholder{
    color: #7f8386;
    font-size: 16px;
}
.map{
    display: flex;
    align-items: center;
    width: 160px;
    outline: none;
    border: none;
    font-size: 16px;
    color: #29ad5b;
    background: none;
}
.map > img{
    width: 23px;
    height: 23px;
}
.ad, .logIn{
    margin-right: 25px;
    font-size: 16px;
    height: 40px;
    width: auto;
    border-radius: 4px;
    outline: none;
    padding: 3px 10px 3px 10px;
}
.ad{
    display: flex;
    align-items: center;
    color: white;
    background: #29ad5b;
    border: none;
}
.ad:hover{
    background: #238543;
}
.ad > img{
    width: 15px;
    height: 15px;
    margin-right: 8px;
}
.logIn{
    color: #29ad5b;
    background: none;
    border: solid 1px #29ad5b;
}

.navigation{
    display: flex;
    align-items: center;
    padding: 80px 0 10px 0;
    border-bottom: solid 1px #d3d7da;
    color: #5a5f61;
    font-size: 18px;
}
.scrollPanel{
    margin-left: 20px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    /*overflow-x: auto;*/
}
.navigation > button > img{
    width: 30px;
    height: 20px;
}
.navigation > button:hover{
    color: #424de2;
}
.navigation > button{
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: #4c56ff;
    font-weight: bold;
    background: none;
    border: none;
    outline: none;
}
.navigation  a{
    display: flex;
    align-items: center;
}
.navigation  a img{
    margin-right: 3px;
    width: 21px;
    height: 18px;
}
.navigation  a:last-child{
    margin-right: 20px;
}
.navigation  a:hover, .navigationFilters > a:hover{
    color: #29ad5b;
}

.infoContainer{
    display: flex;
    margin: 0 15px;
    align-items: center;
    justify-content: space-between;
}



.sortingsContainer select{
    width: 160px;
    border-radius: 4px;
    border: solid 1px #bbbfc2;
    height: 40px;
    font-size: 16px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: url(images/linesSelect.png) no-repeat 6% center,
    url(images/arrow.png) no-repeat 90% center;
    background-size: 40px 30px, auto;
    padding-left: 50px;
}
.sortingsContainer{
    display: flex;
    align-items: center;
}
.sortingsContainer button{
    background: none;
    border: none;
    outline: none;
    margin-left: 15px;
}
.sortingsContainer button > img{
    width: 25px;
    height: 25px;;
}
.headline > p:first-child{
    font-size: 22px;
    font-weight: bold;
    color: #3a3f41;
}
.headline > p:last-child{
    font-size: 13px;
    color:#7f8386;
}
.filtersContainer{
    display: flex;
    color: #383d3f;
    flex-direction: column;
    font-size: 16px;
    margin-right: 15px;
    align-items: center;
}
.navigationFilters, .locationFilters, .mode{
    display: flex;
    margin: 0 10px;
    padding: 15px 0;
    width: 300px;
    flex-direction: column;
    font-size: 16px;
}
.locationFilters{
    padding: 0  0 15px 0;
    border-bottom: solid 1px #d3d7da;
}
.locationFilters > label{
    margin-top: 15px;
    color: black;
}
.navigationFilters{
    border-top: solid 1px #d3d7da;
    border-bottom: solid 1px #d3d7da;
}
.navigationFilters > a{
    padding: 2px 0;
}
.navigationFilters > a:first-child{
    margin: 8px 0;
    font-size: 18px;
}
#regionFilters, #cityFilters, .priceFilters > input{
    margin-top: 8px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px #d3d7da;
    background: #fafafa;
    padding: 0 8px;
    font-size: 16px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: url(images/arrow.png) no-repeat 95% center;
}
.priceFilters{
    display: flex;
    margin-top: 8px;
    flex-direction: row;
    width: 300px;
}
.priceFilters > input{
    margin-top: 0;
    width: 132px;
    background: #f7fbfe;
}
.priceFilters > input:first-child{
    border-radius: 5px 0 0 5px;
}
.priceFilters > input:last-child{
    border-radius: 0 5px 5px 0;
    border-left: none;
}
.priceFilters > input:focus{
    border: solid 1px #2abf69;
}
.stateFilters, .sellerFilters{
    display: flex;
    margin-top: 6px;
    flex-direction: column;
}
.stateFilters > label > input, .sellerFilters > label > input,
.mode > label> input{
   margin: 0 0 8px 6px;
}
.mode{
    border-bottom: solid 1px #d3d7da;
}
.showResult, .resetFilters, .saveSearch{
    margin: 5px 0 5px 0;
    border-radius: 5px;
    background-color: #007aff;
    color: white;
    height: 40px;
    width: 290px;
    align-items: center;
    outline: none;
    border: solid 1px #007aff;
    font-size: 16px;
}
.showResult{
    margin-top: 10px;
}
.resetFilters, .saveSearch{
    background: none;
    color: #5a5f61;
    border: none;
}
.resetFilters{
    background: url(images/plusReset.png) no-repeat 85% center ;
    background-size: 15px 15px;
}
.saveSearch{
    color: #29ad5b;
    background: url(images/like.png) no-repeat 83% center ;
    background-size: 35px 32px;
}

.mainPage{
    display: flex;
}
.listAds{
    flex-direction: column;
    flex: 1;
}
.ads{
    cursor: pointer;
    display: flex;
    flex: 1;
    width: auto;
    height: 125px;
    margin: 10px 0;
}
.imageContainer{
    width: 200px;
    height: 125px;
    border-radius: 3px;
    background: no-repeat center;
    background-size: cover;
    overflow: hidden;
}
.ads > .info{
    display: flex;
    height: 125px;
    justify-content: space-between;
    flex: 1;
    border-bottom: solid 1px #d3d7da;
}
.nameItem, .price{
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    color: #4f5557;
}
.nameItem > p{
    display: flex;
    align-items: center;
}
.nameItem img{
    width: 14px;
    height: 14px;
}
.nameItem > div > p:first-child, .price > p:first-child{
    margin-top: 3px;
    font-weight: bold;
    font-size: 16px;
    color: #393a39;
}
.price{
    align-items: flex-end;
}


footer{
    display: flex;
    justify-content: space-between;
    border-top: solid 1px #d3d7da;
    font-size: 14px;
    color: #4f5557;
    padding: 32px 15px;
}
.infoFooter{
    display: flex;
    flex-direction: column;
}
.otherLinks{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.otherLinks > a:first-child{
    display: flex;
    align-items: center;
}
.otherLinks img{
    width: 30px;
    height: 20px;
    margin-right: 7px;
}
.otherLinks > a{
    margin-right:20px;
}
.otherLinks > a:hover{
    color: #29ad5b;
}
.infoFooter > p{
    font-size: 12px;
}
.aboutKufar{
    color: #929b9d;
    max-width: 900px;
}
.linkApp{
    display: flex;
}
.linkApp img{
    width: 24px;
    height: 27px;
    margin-right: 15px;
}
.linkApp a > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    padding: 3px 3px;
    font-size: 13px;
    border-radius: 3px;
    background-color: rgb(92,104, 113);
    color: white;
    height: 40px;
    margin-right: 20px;
}
.linkApp div > div{
    width: 140px;
}
.linksFooter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.linksFooter > button{
    display: flex;
    align-items: center;
    font-size: 16px;
    border-radius: 3px;
    background-color: #fafafa;
    width: 140px;
    height: 40px;
    border: solid 1px #b0b9bb;
}
.linksFooter > button img{
    width: 20px;
    height: 20px;
    margin: 0 12px 0 4px;
}
.links a{
    margin: 0 5px;
}
.links img{
    width: 32px;
    height: 32px;
}
.pagination{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 20px;
}
.pagination div{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4d5456;
    min-width: 32px;
    height: 32px;
    border-radius: 30px;
    margin: 0 8px;
    outline:none;
}
.pagination div:hover{
     background-color: #d6dfe1;
 }
.pagination div:nth-child(2){
    background-color: #4d5456;
    color: white;
}

.pagination button{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #4d5456;
    background: url(images/arrow.png) no-repeat center;
    outline:none;
}
.pagination button:hover:not([disabled]){
    background-color: #bfbcb7;
}
.previous{
    opacity: 0.5;
    transform: rotate(90deg);
}
.next{
    transform: rotate(270deg);
}