body{
    overflow-x: visible;
}
p{
    margin: 0;
}
*{
    outline: none;
}
.page-container{
    font: 400 16px Arial;
    height: 100%;
    max-width: 1366px;
    margin: 0 auto;
}
header{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    justify-content: space-between;
    padding: 6px 0;
    background-color: white;
    border-bottom: solid 1px #d3d7da;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100;
    max-width: 1366px;
    position: fixed;
}
button, a, .icon-checkbox, .icon-radio-btn{
    cursor: pointer;
}


.left-part-of-cup, .right-part-of-cup, .search-field-container, .logo-container{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    align-items: center;
}
.right-part-of-cup{
    max-width: 30%;
    margin-right: 20px;
    justify-content: flex-end;
    -webkit-flex: 1 1 30%;
    flex: 1 1 30%;
}
.left-part-of-cup{
    width: 65%;
    justify-content: space-between;
    -webkit-flex: 1 4 65%;
    flex: 1 4 65%;
}
.logo-container{
    cursor: pointer;
    margin: 0 10px 0 20px;
}
.logo-img{
    height: 40px;
}
.logo-text{
    height: 35px;
    width: 100px;
}
.search-field-container{
    max-width: 500px;
    height: 38px;
    border: solid 1px #b6babd;
    border-radius: 4px;
    box-shadow: 0 0 2px  #b6babd;
    -webkit-box-shadow: 0 0 2px  #b6babd;
    -o-box-shadow: 0 0 2px  #b6babd;
    -moz-box-shadow: 0 0 2px  #b6babd;
    flex: 1 6 500px;
    z-index: 40;
}
.img--loupe{
    width: 32px;
    height: 32px;
}
#search-field{
    width: calc(98% - 32px);
    height: 35px;
    font-size: 16px;
    border: 0 solid;
    caret-color: #00ad64;
    outline: none;
    z-index: 30;
}
.search-field-container:focus-within{
    border: 1px solid #2abf69;
}
#search-field::placeholder{
    color: #7f8386;
    font-size: 16px;
}
.btn--location{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    align-items: center;
    width: 160px;
    outline: none;
    border: none;
    font-size: 16px;
    color: #29ad5b;
    white-space: nowrap;
    background: none;
}
.img--marker{
    width: 23px;
    height: 23px;
}
.btn--add-ad, .btn--log-In{
    margin: 0 10px;
    font-size: 16px;
    height: 40px;
    width: auto;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    outline: none;
    padding: 3px 10px 3px 10px;
}
.btn--add-ad{
    display: flex;
    align-items: center;
    color: white;
    background: #29ad5b;
    border: none;
}
.btn--add-ad__text-reduction{
    display: none;
}
.btn--add-ad:hover{
    background: #238543;
}
.img--plus{
    width: 15px;
    height: 15px;
    margin-right: 8px;
}
.btn--log-In{
    color: #29ad5b;
    background: none;
    border: solid 1px #29ad5b;
}


.navigation{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    align-items: center;
    padding: 75px 0 5px 0;
    border-bottom: solid 1px #d3d7da;
    color: #5a5f61;
    font-size: 16px;
}
.navigation p{
    margin: 0;
}
.scroll-panel-nav{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    margin-left: 20px;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    overflow-x: hidden;
    /*overflow-y: hidden;*/
}
.btn--all-categories__img{
    width: 30px;
    height: 20px;
}
.btn--all-categories:hover{
    color: #424de2;
}
.nav-img--skirt{
    margin-right: 3px;
    width: 21px;
    height: 18px;
}
.nav--category:hover, .list-nav-filters > a:hover{
    color: #29ad5b;
}
.btn--all-categories{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    font-size: 16px;
    align-items: center;
    margin-left: 20px;
    color: #4c56ff;
    font-weight: bold;
    background: none;
    border: none;
    outline: none;
}
.nav--category{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    align-items: center;
    margin: 0 20px;
    width: auto;
    white-space: nowrap;
    z-index: 1;
}
.scroll-panel-btn{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    right: 0;
    margin: 0 auto;
    z-index: 50;
    background: -webkit-linear-gradient(to right, transparent, white, white, white, white, white);
    background: -moz-linear-gradient(to right, transparent, white, white, white, white, white);
    background: linear-gradient(to right, transparent, white, white, white, white, white);
}
.scroll-btn{
    z-index: 50;
    width: 32px;
    height: 32px;
    border: none;
    background: url(kufar-react-app/src/images/arrow.png) no-repeat center;
    outline:none;
}
.scroll-panel-btn--left{
    opacity: 0.3;
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.scroll-panel-btn--right{
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}



.cup-of-mainpage{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    margin: 0 15px 10px 15px;
    align-items: center;
    justify-content: space-between;
}
.list-sortings{
    width: 160px;
    border-radius: 4px;
    border: solid 1px #bbbfc2;
    height: 40px;
    font-size: 16px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(kufar-react-app/src/images/linesSelect.png) no-repeat 6% center,
    url(kufar-react-app/src/images/arrow.png) no-repeat 90% center;
    background-size: 40px 30px, auto;
    padding-left: 50px;
}
.sortings-container{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    align-items: center;
}
.btn--show-filters{
    display: none;
    width: 120px;
    height: 40px;
    border: #00ad64 solid 1px;
    font-size: 16px;
    color: #00ad64;
    border-radius: 5px;
    background: none;
    align-items: center;
    justify-content: center;
}
.btn--show-filters--txt{
    margin: 0;
}
.btn--show-filters--img{
    margin-right: 6px;
}
.btn--switch-display{
    background: none;
    border: none;
    outline: none;
    margin-left: 15px;
}
.switches-display{
    display: flex;
    align-items: center;
}
.switch-display--img{
    width: 25px;
    height: 25px;
}
.cup-of-mainpage--txt{
    margin: 10px 0;
}
.headline{
    font-size: 24px;
    font-weight: bold;
    color: #3a3f41;
}
.count-ad{
    font-size: 13px;
    color:#7f8386;
}




.filters-container, .other-filters-container{
    display: flex;
    color: #383d3f;
    flex-direction: column;
    font-size: 16px;
    margin-right: 15px;
    align-items: center;
}
.list-nav-filters, .location-filters, .additional-modes{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    margin: 0 10px;
    padding: 15px 0;
    width: 300px;
    flex-direction: column;
    font-size: 16px;
}
.location-filters{
    padding: 0  0 15px 0;
    border-bottom: solid 1px #d3d7da;
}
.location-filters--lbl{
    margin-top: 15px;
    color: black;
}
.list-nav-filters{
    border-top: solid 1px #d3d7da;
    border-bottom: solid 1px #d3d7da;
}
.nav-filters{
    padding: 3px 0;
}
.nav-filters__all-categories{
    margin: 8px 0;
    font-size: 18px;
}
#list-region-filters, #list-city-filters, .price-filters--input{
    margin-top: 8px;
    height: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: solid 1px #d3d7da;
    background: #fafafa;
    padding: 0 8px;
    font-size: 16px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(kufar-react-app/src/images/arrow.png) no-repeat 95% center;
}
input[type="radio"], input[type="checkbox"]{
    display: none;
}
.icon-label{
    display: flex;
    align-items: baseline;
    position: relative;
    margin: 2px 0;
}
.icon-radio-btn, .icon-checkbox{
    margin-right: 20px;
}
.icon-checkbox:before, .icon-radio-btn:before{
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    border: #aeb2b5 solid 1px;
    position: absolute;
    z-index: 0;
}
.icon-checkbox:after, .icon-radio-btn:after{
    content: '';
    display: block;
    border: #00ad64 solid 1px;
    opacity: 0;
    z-index: 1;
}
.icon-checkbox:before{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.icon-radio-btn:before{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.icon-checkbox:after{
    width: 18px;
    height: 18px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #00ad64 url(kufar-react-app/src/images/checkbox.png) no-repeat center;
    background-size: 15px 15px;
}
.icon-radio-btn:after{
    margin: 4px 0 0 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: #00ad64;
}
input[type="radio"]:checked + .icon-radio-btn:before,
input[type="checkbox"]:checked + .icon-checkbox:before{
    border: #00ad64 solid 1px;
}
input[type="radio"]:checked + .icon-radio-btn:after,
input[type="checkbox"]:checked + .icon-checkbox:after{
    opacity: 1;
}
.price-filters{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    margin-top: 8px;
    flex-direction: row;
    width: 300px;
}
.price-filters--input{
    margin-top: 0;
    width: 132px;
    background: #f7fbfe;
}
#price-filters-from{
    border-radius: 5px 0 0 5px;
}
#price-filters-to{
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-left: none;
}
.price-filters--input:focus{
    border: solid 1px #2abf69;
}
.state-filters, .seller-filters{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    margin-top: 6px;
    flex-direction: column;
}
.icon-input{
   margin: 0 0 8px 6px;
}
.additional-modes{
    border-bottom: solid 1px #d3d7da;
}

.btn--show-result, .btn--reset-filters, .btn--save-search{
    margin: 5px 0 5px 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #007aff;
    color: white;
    height: 40px;
    width: 300px;
    align-items: center;
    outline: none;
    border: solid 1px #007aff;
    font-size: 16px;
}
.btn--show-result{
    margin-top: 10px;
    position: sticky;
    position: -webkit-sticky;
    display: block;
    overflow: auto;
    bottom: 10px;
    top: 0;
}
.btn--reset-filters, .btn--save-search{
    background: none;
    color: #5a5f61;
    margin-right: 23px;
    border: none;
}
.btn--reset-filters{
    background: url(kufar-react-app/src/images/plusReset.png) no-repeat 80% center ;
    background-size: 15px 15px;
}
.btn--save-search{
    color: #29ad5b;
    background: url(kufar-react-app/src/images/like.png) no-repeat 79% center ;
    background-size: 35px 32px;
}




.mainpage{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
}
.list-advertisements{
    flex-direction: column;
    flex: 1;
}
.ad-container{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    cursor: pointer;
    flex: 1;
    width: auto;
    min-height: 125px;
    max-height: 130px;
    margin: 10px 0;
}
.ad-container--img{
    width: 200px;
    height: 125px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: no-repeat center;
    background-size: cover;
}
.info-about-ad{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    height: 125px;
    margin: 0 15px;
    width: auto;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    border-bottom: solid 1px #d3d7da;
}
.top-part-of-ad-container, .bot-part-of-ad-container{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    font-size: 14px;
    color: #4f5557;
    white-space: nowrap;
}

.top-part-of-ad--txt{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    align-items: center;
}
.info-ad{
    margin-top: 10px;
}
.location-advertisement{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0;
}
.location-ad--img{
    width: 14px;
    height: 14px;
}
.name-ad, .price-ad{
    margin-top: 3px;
    font-weight: bold;
    font-size: 16px;
    white-space: normal;
    color: #393a39;
}
.bot-part-of-ad-container{
    margin-bottom: 10px;
}



footer{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    justify-content: space-between;
    border-top: solid 1px #d3d7da;
    font-size: 14px;
    color: #4f5557;
    padding: 32px 0 64px 0;
    flex-direction: column;
    flex: 1;
}
.top-part-of-foot{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: baseline;
    margin: auto 5px;
}
.btn-change-language{
    height: 50px;
    margin: 0 auto;
    right: 20px;
}
.list-additional-links{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    flex: 1;
}
.link-advertising{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    align-items: center;
}
.img--gistogram{
    width: 30px;
    height: 20px;
    margin-right: 7px;
}
.additional-link{
    margin: 20px 10px;
    white-space: nowrap;
}
.additional-link:hover{
    color: #29ad5b;
}
.price-info, .info-about-site{
    font-size: 12px;
    margin: 3px 0 3px 10px;
}
.info-about-site{
    color: #929b9d;
    max-width: 70%;
    text-align: justify;
}
.bot-part-of-foot, .links-app-container{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    flex-wrap: wrap;
    align-items: center;
}
.bot-part-of-foot{
    justify-content: space-between;
}
.link-app--img{
    width: 24px;
    height: 27px;
    margin: 0 10px;
}
.link-app{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    padding: 3px 3px;
    font-size: 13px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: rgb(92,104, 113);
    color: white;
    height: 40px;
    margin: 10px 10px;
}
.link-app--text{
    width: 120px;
}
.btn-change-language{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    align-items: center;
    font-size: 16px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #fafafa;
    width: 140px;
    height: 40px;
    border: solid 1px #b0b9bb;
}
.btn-change-language--img{
    width: 20px;
    height: 20px;
    margin: 0 12px 0 4px;
}
.links-social-network{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
}
.link-social-network{
    width: 32px;
    padding: 0;
    margin: 0 5px;
}
.link-social-network--img{
    width: 32px;
    height: 32px;
}



.pagination{
    cursor: pointer;
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 40px 0;
}
.pagination--page{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    align-items: center;
    justify-content: center;
    color: #4d5456;
    min-width: 32px;
    height: 32px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    margin: 0 8px;
    outline:none;
}
.pagination--page:hover:not(.active-pagination--page){
     background-color: #d6dfe1;
 }
.active-pagination--page{
    background-color: #4d5456;
    color: white;
}
.pagination .points:hover{
    background-color: transparent;
}
.pagination--btn{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 1px solid #4d5456;
    background: url(kufar-react-app/src/images/arrow.png) no-repeat center;
    outline:none;
}
.pagination--btn:hover:not([disabled]){
    background-color: #bfbcb7;
}

.pagination--btn-previous{
    opacity: 0.5;
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.pagination--btn-next{
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
}




@media screen and (max-width: 1024px){
    .btn--show-filters, .btn--add-ad__text-reduction{
        display: flex;
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: -o-flex;
    }
    .sortings-container{
        justify-content: space-between;
        width: 100%;
    }
    .logo-text,  .filters-container,  .btn--add-ad__text-full, .scroll-panel-btn{
        display: none;
    }
    .cup-of-mainpage{
        flex-direction: column;
        align-items: flex-start;
    }

}
@media screen and (max-width: 768px) {
    .link-app--text,.btn--add-ad, .info-ad, .location-ad--img{
        display: none;
    }
    .left-part-of-cup{
        width: 90%;
    }
    .right-part-of-cup{
        justify-content: space-between;
        max-width: 80px;
        margin-right: 10px;
    }
    .location-advertisement{
        order: 1;
        font-size: 12px;
    }
    .bot-part-of-ad-container{
        flex-direction: column;
        height: 40%;
        justify-content: center;
    }
    .announced-ad{
        margin: 0;
        order: 2;
    }
    .top-part-of-ad-container{
        flex-direction: column;
        height: 60%;
    }
    .name-ad{
        font-size: 14px;
        color: #4A4A4A;
        order: 1;
    }
    .bot-part-of-ad--text{
        font-size: 12px;
        margin: 2px 0;
    }
    .info-about-ad{
        height: 116px;
        flex-direction: column;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 425px) {
    .navigation{
        padding: 60px 0 10px 0;
    }
    .headline{
        font-size: 20px;
    }
    .count-ad{
        font-size: 14px;
    }
    .btn--location, .btn--switch-display{
        display: none;
    }
    header{
        height: 42px;
    }
    .btn--log-In{
        border: none;
    }
    .search-field-container{
        margin-right: 5px;
    }
}
