.product-list-lines{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.product-list-squares{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-items: center;
    width: 100%;
    margin-left: 10px;
}
.spinner{
    width: 80%;
    margin-left: 10%;
}
.no-products{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    height: 180px;
}
.no-products > p{
    font-size: 40px;
    color: #ff5569;
}
.product-card__container{
    display: flex;
    align-items: center;
}
.product-card__location{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0;
}
.product-card__location_img{
    width: 14px;
    height: 14px;
}
.product-card__name, .product-card__price{
    margin-top: 3px;
    font-weight: bold;
    font-size: 16px;
    white-space: normal;
    color: #393a39;
}


@media screen and (max-width: 768px) {
    .product-card__location_img{
        display: none;
    }
    .product-card__location{
        order: 1;
        font-size: 12px;
    }
    .product-card__name{
        font-size: 14px;
        color: #4A4A4A;
        order: 1;
    }
}
