body {
    overflow-x: visible;
}

p {
    margin: 0;
    white-space: nowrap;
    font-family: Arial, serif;
}
span{
    font-family:  Arial, serif;
}
* {
    outline: none;
}

.page-container {
    font: 400 16px Arial;
    height: 100%;
    max-width: 1366px;
    margin: 80px auto 0;
    padding-bottom: 5px;
}
.main-content p{
    white-space: normal;
}

button, a, .icon-checkbox-btn, .icon-radio-btn, label {
    cursor: pointer;
}
.btn{
    border-radius: 5px;
    height: 40px;
    padding: 10px 16px;
}
.btn__items{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
.btn_default{
    background: none;
    border: none;
    color: #4f5557;
}
.btn_default_green{
    background: none;
    border: none;
    color: #00ad64;
}
.btn_default_blue{
    background: none;
    border: none;
    color: #424de2;
}
.btn_primary_green{
    border: none;
    background: #00ad64;
    color: white;
}
.btn_primary_blue {
    border: none;
    background: #007aff;
    color: white;
}
.btn_secondary_green{
    background: none;
    border: 1px solid #00ad64;
    color: #00ad64;
}
.btn_secondary_gray{
    background: none;
    border: solid 1px #868f91;
    color: #2f3537;
}
.btn__text_bold{
    font-weight: bold;
}
.btn__text_small{
    font-size: 13px;
}
.btn__text_medium{
    font-size: 14px;
}
.btn__text_large{
    font-size: 16px;
}
.btn__img{
    margin-right: 10px;
}
.btn__img_small{
    width: 17px;
    height: 17px;
}
.btn__img_medium{
    width: 23px;
    height: 23px;
}
.btn__img_large{
    width: 28px;
    height: 23px;
}
.icon-btn{
    display: flex;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0 0;
    margin: 0 5px;
    border: none;
    background: none;
    border-radius: 100%;
}
.icon-btn_border{
    border: 1px solid #3a3f41;
}
.icon-btn__img_small{
    width: 17px;
    height: 15px;
}
.icon-btn__img_medium{
    width: 32px;
    height: 32px;
}
.icon-btn__img_large{
    width: auto;
    height: 40px;
}
.modal{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0, .6);
    z-index: 1000;
}
.modal__items{
    position: absolute;
    top: 100px;
    display: flex;
    align-items: center;
    background-color: white;
    flex-direction: column;
    width: 400px;
    border-radius: 5px;
}
.modal__close{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.modal__close-button{
    margin-right: 10px;
}
.modal__close-button > img{
    width: 20px;
    height: 20px;
}
.modal__close-button{
    margin-top: 15px;
    background: none;
    border: none;
}


@media screen and (max-width: 425px) {
    .btn-login {
        border-color: white;
    }
    .page-container{
        margin-top: 60px;
    }
}
.tab{
    color: #5f6c6e;
    width: 50%;
    height: 40px;
    font-size: 16px;
    border-radius: 0;
    border-bottom: 1px solid gainsboro;
    margin-top: 15px;
    background: none;
}
.tab-selected{
    border-bottom: 2px solid #5f6c6e;
    font-weight: bold;
}
.not-found-img{
    width: 100%;
}
