body {
    overflow-x: visible;
}

p {
    margin: 0;
    white-space: nowrap;
    font-family: Arial, serif;
}
span{
    font-family:  Arial, serif;
}
* {
    outline: none;
}

.page-container {
    font: 400 16px Arial;
    height: 100%;
    max-width: 1366px;
    margin: 80px auto 0;
    padding-bottom: 5px;
}
.main-content p{
    white-space: normal;
}

button, a, .icon-checkbox-btn, .icon-radio-btn, label {
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    .page-container{
        margin-top: 60px;
    }
    .main-content p{
        text-align: center;
    }
}

