body {
    overflow-x: visible;
}

p {
    margin: 0;
}

* {
    outline: none;
}

.page-container {
    font: 400 16px Arial;
    height: 100%;
    max-width: 1366px;
    margin: 0 auto;
}

button, a, .icon-checkbox-btn, .icon-radio-btn, label {
    cursor: pointer;
}
