.navigation{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    align-items: center;
    padding: 75px 0 5px 0;
    border-bottom: solid 1px #d3d7da;
    color: #5a5f61;
    font-size: 16px;
}
.scroll-panel-nav{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    margin-left: 20px;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    overflow-x: hidden;
    /*overflow-y: hidden;*/
}
.btn_category_primary:hover{
    color: #313aa5;
}
.nav-category:hover, .nav-filter:hover{
    color: #29ad5b;
}
.scroll-panel{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    right: 0;
    margin: 0 auto;
    z-index: 50;
    background: -webkit-linear-gradient(to right, transparent, white, white, white, white, white);
    background: -moz-linear-gradient(to right, transparent, white, white, white, white, white);
    background: linear-gradient(to right, transparent, white, white, white, white, white);
}
.scroll-panel__btn{
    z-index: 50;
    width: 32px;
    height: 32px;
    border: none;
    background: url(../../images/arrow.png) no-repeat center;
    outline:none;
}
.scroll-panel__btn_left{
    opacity: 0.3;
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.scroll-panel__btn_right{
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

@media screen and (max-width: 1024px){
    .scroll-panel{
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .navigation{
        padding: 60px 0 10px 0;
    }
}
