.product-card-line{
    display: flex;
    cursor: pointer;
    align-items: center;
    flex: 1;
    width: auto;
    min-height: 125px;
    max-height: 130px;
    margin: 10px 0;
}
.product-card-line__img{
    width: 200px;
    height: 125px;
    border-radius: 3px;
    background: url(../../images/noPhoto.png) no-repeat center;
    background-size: cover;
}
.info-about-product{
    display: flex;
    height: 125px;
    margin: 0 15px;
    width: auto;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    border-bottom: solid 1px #d3d7da;
}
.top-part-of-product-card, .bot-part-of-product-card{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    font-size: 14px;
    color: #4f5557;
    white-space: nowrap;
}
.categories-product{
    margin-top: 10px;
}
.bot-part-of-product-card{
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .categories-product{
        display: none;
    }
    .bot-part-of-product-card{
        flex-direction: column;
        height: 40%;
        justify-content: center;
    }
    .announced-product{
        margin: 0;
        order: 2;
    }
    .top-part-of-product-card{
        flex-direction: column;
        height: 60%;
    }
    .info-about-product{
        height: 116px;
        flex-direction: column;
        justify-content: flex-start;
    }
}
