header{
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    background-color: white;
    border-bottom: solid 1px #d3d7da;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100;
    max-width: 1366px;
    position: fixed;
}


.left-part-of-header, .right-part-of-header, .search-field-container, .logo{
    display: flex;
    align-items: center;
}
.right-part-of-header{
    width: 250px;
    margin-right: 20px;
    justify-content: space-around;
    flex: 1 0 200px;
    flex-shrink: 0;
}
.left-part-of-header{
    width: 65%;
    flex: 1 4 65%;
    flex-shrink: 4;
}
.logo{
    cursor: pointer;
    margin: 0 10px 0 20px;
}
.logo__img{
    height: 40px;
}
.logo__text{
    height: 35px;
    width: 100px;
}
.search-field-container{
    max-width: 500px;
    height: 38px;
    border: solid 1px #b6babd;
    border-radius: 4px;
    box-shadow: 0 0 2px  #b6babd;
    flex: 1 6 500px;
    z-index: 40;
}
.search-field__img{
    width: 32px;
    height: 32px;
}
#search-field{
    width: calc(98% - 32px);
    height: 35px;
    font-size: 16px;
    border: 0 solid;
    caret-color: #00ad64;
    outline: none;
    z-index: 30;
}
.search-field-container:focus-within{
    border: 1px solid #2abf69;
}
#search-field::placeholder{
    color: #7f8386;
    font-size: 16px;
}
.btn_type_secondary{
    display: none;
}
.btn_type_secondary:hover, .btn_type_primary:hover{
    background: #238543;
}
.profile{
    background: url(../../images/profile.png) no-repeat center;
    background-size: 40px 40px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.registration-successful{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.registration-successful p{
    font-size: 20px;
}

@media screen and (max-width: 1024px){
    .btn_type_secondary{
        display: flex;
    }
    .logo__text, .btn_type_primary{
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .btn_type_secondary{
        display: none;
    }
    .left-part-of-header{
        width: 90%;
    }
    .right-part-of-header{
        justify-content: space-between;
        max-width: 80px;
        margin-right: 10px;
    }
}
@media screen and (max-width: 425px) {
    header{
        height: 42px;
    }
    .btn-login{
        border: none;
    }
    .btn-location{
        display: none;
    }
    .search-field-container{
        margin-right: 5px;
    }
}
