footer{
    display: flex;
    justify-content: space-between;
    border-top: solid 1px #d3d7da;
    font-size: 14px;
    color: #4f5557;
    padding: 32px 0 64px 0;
    flex-direction: column;
    flex: 1;
}
.top-part-of-foot{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: baseline;
    margin: auto 5px;
}

.list-additional-links{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    flex: 1;
}
.additional-link{
    white-space: nowrap;
}
.additional-link:hover{
    color: #29ad5b;
}
.payment-info, .info-about-site{
    font-size: 12px;
    margin: 3px 0 3px 10px;
}
.info-about-site{
    color: #929b9d;
    max-width: 70%;
    text-align: justify;
}
.bot-part-of-foot, .links-app-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.bot-part-of-foot{
    justify-content: space-between;
}
.link-app__img{
    width: 24px;
    height: 27px;
    margin: 0 10px;
}
.link-app{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    padding: 3px 3px;
    font-size: 13px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: rgb(92,104, 113);
    color: white;
    height: 40px;
    margin: 10px 10px;
}
.link-app__text{
    width: 120px;
    white-space: normal;
}
.links-social-network{
    display: flex;
}

@media screen and (max-width: 768px)  {
    .link-app__text{
        display: none;
    }
}
