input[type="checkbox"] {
    display: none;
}
.icon-checkbox-btn {
    margin-right: 10px;
}

.icon-checkbox-btn:before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    border: #aeb2b5 solid 1px;
    position: absolute;
    z-index: 0;
    border-radius: 3px;
}

.icon-checkbox-btn:after {
    content: '';
    display: block;
    border: #00ad64 solid 1px;
    opacity: 0;
    z-index: 1;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    background: #00ad64 url(../../images/checkbox.png) no-repeat center;
    background-size: 15px 15px;
}

input[type="checkbox"]:checked + .icon-checkbox-btn:before {
    border: #00ad64 solid 1px;
}

input[type="checkbox"]:checked + .icon-checkbox-btn:after {
    opacity: 1;
}
