.main-content-bar{
    display: flex;
    margin: 0 15px 10px 15px;
    align-items: center;
    justify-content: space-between;
}
.select-sortings{
    width: 160px;
    border-radius: 4px;
    border: solid 1px #bbbfc2;
    height: 40px;
    font-size: 16px;
    outline: none;
    appearance: none;
    background: url(../../images/linesSelect.png) no-repeat 6% center,
    url(../../images/arrow.png) no-repeat 90% center;
    background-size: 40px 30px, auto;
    padding-left: 50px;
}
.sortings-container{
    display: flex;
    align-items: center;
}
.switch-display__btn{
    margin-left: 15px;
}
.switches-display{
    display: flex;
    align-items: center;
}
.main-content-bar__txt{
    margin: 10px 0;
}
.headline{
    font-size: 24px;
    font-weight: bold;
    color: #3a3f41;
}
.count-product{
    font-size: 13px;
    color:#7f8386;
}
.main-content-body{
    display: flex;
}

.main-content{
    display: flex;
    flex-direction: column;
}


.pagination{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 40px 0;
}
.pagination__page{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4d5456;
    min-width: 32px;
    height: 32px;
    border-radius: 30px;
    margin: 0 8px;
    outline:none;
}
.pagination__page:hover:not(.pagination_page_active){
    background-color: #d6dfe1;
}
.pagination_page_active{
    background-color: #4d5456;
    color: white;
}
.pagination .points:hover{
    background-color: transparent;
}
.pagination__btn:hover:not([disabled]){
    background-color: #bfbcb7;
}

.pagination__btn_previous{
    opacity: 0.5;
    transform: rotate(90deg);
}
.pagination__btn_next{
    transform: rotate(270deg);
}

@media screen and (max-width: 1024px){
    .sortings-container{
        justify-content: space-between;
        width: 100%;
    }
    .main-content-bar{
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 425px) {
    .headline{
        font-size: 20px;
    }
    .count-product{
        font-size: 14px;
    }
    .switch-display__btn{
        display: none;
    }
}
